{% extends 'GameStore/base.html' %}

{% block title %}Каталог игр{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Сайдбар с фильтрами -->
    <aside class="col-md-3">
      <form method="get">
        <!-- Диапазон цен -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Цена (BYN)</label>
          <div class="d-flex gap-2 align-items-center">
            <input type="number" name="price_min" value="{{ price_min }}" class="form-control" placeholder="От">
            <input type="number" name="price_max" value="{{ price_max }}" class="form-control" placeholder="До">
          </div>
        </div>

        <!-- Жанры -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Жанры</label>
          {% for g in genre %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="genre" value="{{ g.id }}">
                {% if g.id in genre_filt %}{% endif %}
              <label class="form-check-label">{{ g.name }}</label>
            </div>
          {% endfor %}
        </div>


        <!-- Метки -->
        <div class="mb-4">
          <label class="form-label fw-semibold">Метки</label>
          {% for t in tag %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="tag" value="{{ t.id }}">
                {% if t.id in tag_filt %}{% endif %}
              <label class="form-check-label">{{ t.name }}</label>
            </div>
          {% endfor %}
        </div>

        <!-- Кнопка -->
        <button type="submit" class="btn btn-dark w-100">Применить фильтр</button>
      </form>
    </aside>

    <!-- Контент с карточками товаров -->
    <div class="col-md-9">
      {% for g in page_obj %}
        <div class="card mb-3 p-3 bg-light border-0 shadow-sm">
          <div class="d-flex align-items-center">
            <a href="{% url 'game_detail' g.slug %}">
            <img src="{{ g.image.url }}" class="me-3 rounded" style="width: 190px; height: 130px; object-fit: cover;" alt="{{ g.name }}">
            </a>

            <div class="flex-grow-1">
              <h5 class="mb-1"><a href="{% url 'game_detail' g.slug %}" class="text-decoration-none text-dark">{{ g.name }}</a></h5>
              <p class="mb-1 text-muted small">{{ g.description|truncatewords:30 }}</p>
            </div>

            <div class="text-end">
              <div class="text-success fw-bold mb-2">{{ g.price }} BYN</div>
              <form action="{% url 'cart_add' g.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="update" value="False">
                <button type="submit" class="btn btn-outline-dark btn-sm">🛒 Добавить</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}


  <!--Пагинация-->

    {% if page_obj.paginator.num_pages > 1 %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center mt-4 " >
          {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&lsaquo;</span>
                  </a>
              </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <li class="page-item active">
                      <span class="page-link bg-dark text-white">{{ num }}</span>
                  </li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <li class="page-item">
                      <a class="page-link text-dark" href="?page={{ num }}">{{ num }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&rsaquo;</span>
                  </a>
              </li>
          {% endif %}
          </ul>
      </nav>
    {% endif %}

    </div>
  </div>
</div>

{% endblock %}