{% extends 'GameStore/base.html' %}
{% load static %}

{% block title %}Как купить игру{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">Как купить игру?</h2>

  <div class="row g-4">

    <div class="col-md-6 col-lg-4">
      <div class="p-3 rounded h-100 text-center">
        <div class="mb-3 fs-2 ">🛒</div>
        <h5 class="mt-2">1. Выберите игру</h5>
        <p class="text-muted">Перейдите в каталог, выберите понравившуюся игру и нажмите «Добавить в корзину».</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-3 rounded h-100 text-center">
        <div class="mb-3 fs-2 ">👤</div>
        <h5 class="mt-2">2. Зарегистрируйтесь или войдите</h5>
        <p class="text-muted">Создайте аккаунт или авторизуйтесь, чтобы оформить заказ и получить доступ к покупкам.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-3 rounded h-100 text-center">
        <div class="mb-3 fs-2 ">💳</div>
        <h5 class="mt-2">3. Оплатите заказ</h5>
        <p class="text-muted">Выберите удобный способ оплаты: банковская карта, электронные кошельки и другие.</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="p-3 rounded h-100 text-center">
        <div class="mb-3 fs-2 ">📧</div>
        <h5 class="mt-2">4. Получите ключ на email</h5>
        <p class="text-muted">Сразу после оплаты ключ будет отправлен на вашу электронную почту и будет доступен в профиле.</p>
      </div>
    </div>

     <div class="col-md-6 col-lg-4">
      <div class="p-3 rounded h-100 text-center">
        <div class="mb-3 fs-2 ">🎮</div>
        <h5 class="mt-2">5. Активируйте игру</h5>
        <p class="text-muted">Используйте полученный ключ в Steam, Epic Games, Uplay или другой платформе, указанной на странице товара.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
